.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.favorites-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: center;
  gap: 15px;
}
.filter-buttons-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 10px;
  flex-wrap: wrap;
}

.orange-small-buttons {
  background-image: var(--color-orange);
  border-radius: 15px;
  border: none;
  color: var(--color-white);
  font-size: 18px;
  padding: 5px 10px;
}

.favorite-card {
  display: flex;
  height: 160px;
  width: 320px;
  box-shadow: var(--black-shadow);
  border-radius: 5px;
}

.favorite-recipe-img img {
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.favorite-card-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.favorite-card-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite-card-data h3 {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 125px;
  text-align: center;
}

.favorite-card-info p {
  color: var(--color-gray-1);
}

#copy-msg {
  color: var(--color-orange-3);
}