.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../images/login-brackground.png');
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  /* o min height está sendo passado pelo JS */
  gap: 15px;
  justify-content: center;
}

.login-logo {
  height: 110px;
  margin-bottom: 30px;
}

.login-input {
  width: 293px;
  height: 58px;
  border-radius: 15px;
  border: 1px solid var(--color-gray-1);
  font-weight: 800;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
}

.login-btn {
  width: 293px;
  height: 58px;
  border-radius: 15px;
  border: 1px solid var(--color-gray-1);
  font-size: 24px;
  background-image: var(--color-orange);
  color: var(--color-white);
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.forget-password {
  font-size: 14px;
  color: var(--color-gray-2)
}

.create-acount {
  position: absolute;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  font-weight: 800;
  color: var(--color-white);
  background-color: var(--color-black-1);
  height: 46px;
  width: 100vw;
  top: calc(100vh - 46px);
  justify-content: center;
  align-items: center;

}