.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100vw;
  box-shadow: var(--black-shadow);
  color: var(--color-gray-2);
  background-color: var(--color-white);
}

.header-container img {
  height: 33px;
  width: 33px;
}